@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234 67% 94%;
    --foreground: 231 30% 25%;
    --card: 0 0% 100%;
    --card-foreground: 231 30% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 30% 25%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 232 50% 88%;
    --secondary-foreground: 231 30% 25%;
    --muted: 232 50% 88%;
    --muted-foreground: 231 30% 55%;
    --accent: 45 100% 51%;
    --accent-foreground: 45 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 50% 80%;
    --input: 232 50% 88%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 45 100% 51%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 231 30% 25%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 234 67% 94%;
    --sidebar-accent-foreground: 231 30% 25%;
    --sidebar-border: 232 50% 88%;
    --sidebar-ring: 231 48% 48%;
  }
  .dark {
    --background: 232 30% 12%;
    --foreground: 234 67% 94%;
    --card: 232 30% 16%;
    --card-foreground: 234 67% 94%;
    --popover: 232 30% 12%;
    --popover-foreground: 234 67% 94%;
    --primary: 231 48% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 232 30% 24%;
    --secondary-foreground: 234 67% 94%;
    --muted: 232 30% 24%;
    --muted-foreground: 234 67% 70%;
    --accent: 45 100% 51%;
    --accent-foreground: 45 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 30% 24%;
    --input: 232 30% 24%;
    --ring: 231 48% 58%;
    --chart-1: 231 48% 58%;
    --chart-2: 45 100% 51%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 232 30% 12%;
    --sidebar-foreground: 234 67% 94%;
    --sidebar-primary: 231 48% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 232 30% 20%;
    --sidebar-accent-foreground: 234 67% 94%;
    --sidebar-border: 232 30% 24%;
    --sidebar-ring: 231 48% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
